.idea
*/node_modules
*/coverage


*/package-lock.json

*/yarn-error.log
*/dist

../venv
temp/
daemon/
.vscode
tmp/
public/
*.pyc
.idea
__pycache__
.venv
/logfile*
logfile
*.log
*.log*
*.crt
*.key
*.service
tmp_sent_to_queue_async.py
export_path